{% extends 'base.html' %}

{% block content %}
<div class="container">

	<!-- MEDIUM+ SCREENS -->
	<div class="main d-none d-md-flex flex-column">
		<div class="card p-4 align-items-start">

			<h3 class="pb-4">Welcome to FREEDOM Chat!</h3>
			<p class="pb-2">In this course you'll learn to build a real-time chat website using <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebSocket" target="_blank" rel="nofollow">WebSockets</a> and <a href="https://channels.readthedocs.io/en/latest/" target="_blank" rel="nofollow">Django Channels</a>.</p>
			<a class="btn btn-info d-flex flex-row align-items-start" href="#" target="_blank">
				<span class="d-flex material-icons pr-2">build</span>
				<span class="d-flex">Learn more</span>
			</a>
		</div>

		{% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}


	</div>
	<!-- END MEDIUM+ SCREENS -->
	
	<!-- SMALL SCREENS -->
	<div class="d-flex d-md-none p-2">
		<p>This site is not meant to be viewed on a mobile device. Please download the <a href="#">app</a>.</p>
	</div>
	<!-- END SMALL SCREENS -->
</div> 


{% endblock content %}